<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <div id="main-content">
            <p>{{message}}</p>
        </div>
        {{>footer}}
    </body>
</html>