<header id="header">
    <h1>Static Header: {{title}}</h1>
    <div id="links">
        <a href="/about">about</a>
        <a href="/help">help</a>
        <a href="/weather">weather</a>
    </div>
</header>